@charset "utf-8";

/*ウィンドウ背景色の設定*/
body{
    background:#4682b4;
}

/*リンク色の設定*/
a{
    color:#df4839;
}

a:hover{
    color:#ff705b;
}

/*横並びレイアウトの設定*/
.ph{
    float:left;
    margin-right:30px;
}

.ph2{
    float:right;
    margin-right:10px;
    margin-left:10px;
    margin-bottom:5px;
}

.list_porpose{
    float:left;
    margin-left:30px;
    margin-bottom:5px;
}

.clear {
    clear:both;
}
/*ページタイトルの設定*/
h1{
	color:#2e8b57;
	text-align:center;
	font-size:250%;
}
h2{
    color:#ff1493;
    text-align:left;
}
h3{
    text-align:left;
}
/*コンテンツ領域の設定*/
#wrap{
    width:798px;
    margin:40px auto;
    padding:40px 80px;
    border:#f6bb9e 1px solid;
    background-color:#e0ffff;
}

#profile{
    margin-bottom:20px;
}

#lead{
    margin-bottom:20px;
    margin-right:20px;
    width:70%;
}