@charset "utf-8";

/*ウィンドウ背景色の設定*/
body{
    background:#4682b4;
}

/*リンク色の設定*/
a{
    color:#df4839;
}

a:hover{
    color:#ff705b;
}

/* ページタイトルの設定*/

h1{
	color:#2e8b57;
	text-align:center;
	font-size:250%;
}
h2{
    color:#ff1493;
    text-align:center;
}

/*コンテンツ領域の設定*/
#wrap{
    width:798px;
    margin:40px auto;
    padding:40px 80px;
    border:#f6bb9e 1px solid;
    background-color:#e0ffff;
}